@page "/"

<SeoHead Title="Personal Finance Tracker - Manage Your Family Budget"
         Description="Free online finance tracker for families. Track expenses, monitor income, and visualize your savings with interactive charts."
         Keywords="finance tracker, family budget, expense tracking, personal finance, money management" />


<h1>Hello, Annći Bananći! :)</h1>

<br />
<br />
<p>Your <b>simple</b> personal finance tracker where you can enter your incomes and expenses and track your savings by various charts.</p>
<p>Just enter your incomes and expenses without all additional data. <b>Fast and easy.</b></p>
<img src="/img/expenses_example.jpg" alt="Expenses Example" height="482" width="800" />

<br />
<br />
<p><b>Track your data</b> through the whole year or on a monthly basis:</p>
<img src="/img/chart_1.jpg" alt="Monthly overview" height="308" width="900" />
<img src="img/income_expenses.jpg" alt="Income vs expenses" height="340" width="1000" />
<br />
<br />
<p>Simple <b>monthly breakdown</b> through whole year:</p>
<img src="/img/monthly_breakdown.jpg" alt="Monthly breakdown" height="406" width="1200" />
<br />
<br />
<p>If you are having multiple users in a same family that <b>share</b> financial data, you can see all that data in a simple chart:</p>
<img src="/img/by_user.jpg" alt="By user"  height="367" width="1200" />